.clock {
    width: 500px;
    height: 500px;
    display: block;
    float: left;
    position: relative;
}
/* .clock > div{
    transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1) 0s;
} */

.segundos {
    width: 450px;
    height: 450px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('../image/watchface_01.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    z-index: 5;
}

.minutos {
    width: 420px;
    height: 420px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('../image/watchface_02.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    z-index: 5;
}

.horas {
    width: 230px;
    height: 230px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('../image/watchface_03.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    z-index: 10;
}